.background {
    background-image: url(../images/bg-desktop.svg);
    background-size: 85%;
    background-color: hsl(257, 40%, 49%);
    
}

.cabecalho{ 
    display: flex;
    /* background-color: aquamarine; */
    width: 70%;
    height: 70px;
    align-items: center;
}

.logo {
    margin-top: 50px;
    margin-left: 50px;
}

.logo_img {
    width: 130px;
}

.conteudo {
    display: flex;
    /* background-color: aqua; */
    margin-top: 50px;
    margin-left: 50px;
    max-width: 100%;
    width: auto;
}

.mockup{
    width: 85%;
    height: auto;
}

.texto {
    /* background-color: blue; */
    margin-top: 50px;
    width: 31%;
    height: auto;
    color: whitesmoke;
}

.texto_titulo {
    font-family:poppins;
    font-weight: 600;
    font-size: 29px;
    margin-bottom:10px;

}

.texto_paragrafo {
    font-family: open sans ;
    font-weight: 300;
    font-size: 14px;
    margin-top: 18px;
    line-height: 1.5;
}

.botao {
    background-color: white ;
    color: hsl(257, 40%, 49%);
    font-family: open sans ;
    border: solid;
    border-radius: 35px;
    margin-top: 20px;
    width: 150px;
    height: 45px;
    font-size: 12px;
}

.botao:hover {
    background-color:hsl(300, 69%, 71%);
    color: white;
    border: none;
}

.rodape {
    display: flex;
    max-width: 1440px;
    width: auto;
    justify-content: end;
    height: 80px;
    align-items: center;
    margin-right: 100px
}

.img_redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

/* .circulo {
    background: none;
    border: solid 1px;
    border-radius: 50%;
    border-color: white;
    width: 100px;
    height: 100px;
} */

.redes_sociais {
    color: white;

    
}

.redes_sociais:hover {
    color: hsl(300, 69%, 71%);
}




